<h5>{{project.name}}</h5>
<h3>{{module.name}}</h3>

{{#if module.comment}}
  <p>{{module.comment.text}}</p>
{{/if}}

{{#if module.methods}}
<strong>Methods</strong>
<ul class="methods-list">
{{#each module.methods as |method|}}
  <li>
    {{#each method.callSignatures as |signature|}}
    <ol class="signatures-list">
      <li>
        <div class="method-signature">
          <h5>{{method.name}}</h5>
          <ol class="parameters">
            {{#if signature.parameters}}
              {{#each signature.parameters as |param|}}
                <li>
                  <div class="param-name">{{param.name}}</div>
                </li>
              {{/each}}
            {{/if}}
          </ol>
          <div class="return-type">
            {{type-annotation type=signature.type}}
          </div>
        </div>
        {{#if signature.hasBody}}
          <div class="method-body">
            {{#if signature.parameters}}
            <strong class="sub">Arguments</strong>
            <ol class="parameters-list">
              {{#each signature.parameters as |param|}}
              <li>
                {{param.name}}: {{type-annotation type=param.type}}
              </li>
              {{/each}}
            </ol>
            {{/if}}
            {{#if signature.comment}}
              <p>{{signature.comment.text}}</p>
            {{/if}}
          </div>
        {{/if}}
      </li>
    </ol>
    {{/each}}
  </li>
{{/each}}
</ul>
{{/if}}

{{#if module.properties}}
<strong>Properties</strong>
<ul class="properties-list">
{{#each module.properties as |property|}}
  <li class="property-definition">
    <div class="property-title-container">
      <h5>{{property.name}}</h5>
      <div class="property-type">{{type-annotation type=property.type}}</div>
    </div>
    {{#if property.comment}}
      <p>{{property.comment.text}}</p>
    {{/if}}
  </li>
{{/each}}
</ul>
{{/if}}