<section class="content-container readme">
{{{project.readme}}}
</section>
<section class="content-container">
  {{#if project.interfaces}}
    {{module-list project=project.id title="Interfaces" modules=project.interfaces}}
  {{/if}}

  {{#if project.classes}}
    {{module-list project=project.id title="Classes" modules=project.classes}}
  {{/if}}

  {{#if project.functions}}
    <strong>Functions</strong>
    {{function-list functions=project.functions}}
  {{/if}}

  {{#if project.objectLiterals}}
    {{variable-list label="Object Literals" variables=project.objectLiterals}}
  {{/if}}
</section>